.pagination {
  margin: 0 auto;
}
.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #2e9afe;
  width: 40px;
  height: 40px;
  border: 5px solid #2e9afe;
  border-radius: 10px;
  margin-right: 8px;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__itemSelected {
  background: #2e9afe;
  color: #fff;
}
.pagination__link {
}
