.container {
  width: 1080px;
  margin: 0 auto;
}
@media (max-width: 1080px) and (min-width: 820px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 820px) {
  .container {
    width: 95%;
  }
}
